@model WebAtividadeEntrevista.Models.ClienteModel
@{
    ViewBag.Title = "Alterar Cliente";
}
@section scripts{
    <script>
        var urlPost = '@Url.Action("Alterar", "Cliente", new { area = "" })';
        var obj = @Html.Raw(Json.Encode(Model));
        var urlRetorno = '@Url.Action("Index", "Cliente", new { area = "" })';
        var urlVerificaCPF = '@Url.Action("VerificarCPF", "Cliente", new { area = "" })';
    </script>
    @Scripts.Render("~/bundles/altClientes")
}
<h2>@Html.Raw(ViewBag.Title)</h2>
@Html.ActionLink("Beneficiários", "Index", "Beneficiario", new {}, new { @class = "btn btn-sm btn-primary pull-right", target="_blank" })
@Html.Partial("Forms")